@import "tailwindcss";

@theme {
  --color-primary-gold: #cda349;
  --color-secondary-gold-dark: #a38036;

  --spacing: 1em;
}

.btn-header {
  @apply bg-primary-gold hover:bg-secondary-gold-dark p-1 rounded-md font-bold text-sm transition-all cursor-pointer;
}
